name: release-artifacts


on:
  release:
    types:
      - published
      

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3.0.2

      - name: Extract release tag
        id: release_tag
        run: echo ::set-env name=RELEASE_TAG::${GITHUB_REF#refs/tags/}
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: true
      
      - name: Set up JDK 17
        uses: actions/setup-java@v3.4.1
        with:
          distribution: zulu
          java-version: 17

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build artifacts
        run: ./gradlew clean build

      # Runs a set of commands using the runners shell
      - name: Publish Minecraft Mods
        # You may pin to the exact commit or the version.   
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ykSfIgTw
          modrinth-token: ${{ secrets.MODRINTH_API_KEY }}
          modrinth-files-secondary: build/libs/*-@(sources\|javadoc).jar
          curseforge-id: 415681
          curseforge-token: ${{ secrets.CURSEFORGE_API_KEY }}
          
          files: build/libs/!(*-@(dev|sources)).jar
          github-files-secondary: build/libs/*-@(dev\|sources\|javadoc).jar
          github-token: ${{ secrets.GITHUB_TOKEN }}
          loaders: fabric
          game-versions: 1.20.4
          java: 17
